//* Alignment
.center-text {
  text-align: center;
}

//* Margin
.land-margin {
  margin-top: 6%; 
}

.land-margin2 {
  margin-top: 4%; 
}

.service-margin {
  margin-top: 1%; 
}

.project-margin {
  margin-top: 4%;

  @include respond(nex-7) {
    margin-top: 6%;
  }
}

.project-margin-left {
  margin-left: 2%;
}

.project-margin-top {
  margin-top: 3%;

  @include respond(nex-7) {
    margin-top: 6%;
  }
}

.project-margin-drop {
  @include respond(nex-7) {
    margin-top: 6%;
  }
}

.contact-margin-top {  
  margin-top: 4%;
}

.contact2-margin-top {
  margin-top: 5%;
}

.contact3-margin-top {  
  margin-top: 3%;
}

.contact4-margin-top {  
  margin-top: 3%;
  
  @include respond(tab-land) {  
    margin-top: 4%;
  }
}

.contact5-margin-top {  
  margin-top: 3%;
  
  @include respond(tab-land) {  
    margin-top: 10%;
  }
}

.title-margin {
  margin: 3% 0 2% 0;  
}

.header-margin {
  margin: 3% 0 2% 0;  

  @include respond(nex-7) {
    margin: 6% 0 5% 0; 
  }
}

.project-title-margin {
  margin-bottom: 1%;  
}

.amount-margin {
  margin-bottom: 2%; 
}

.info-margin {
  margin-bottom: 2%; 
}

.info-text-margin {
  margin-top: 5%;  

  @include respond(nex-7) {
    margin-top: 0%;   
  }
}

.or-margin {
  margin: 2.5% 0;

  @include respond(tab-land) {
    margin: 6% 0;     
  }
}

.progress-margin {
  margin-bottom: 4%;   
}

.contact-us-margin {
  margin: 8% 0;
}

.about-margin {
  margin-top: 8%;

  @include respond(nex-7) {
    margin-top: 12%;  
  }
}

.about-margin2 {
  margin-top: 12%;
}

.sub-margin {
  margin-left: 2%;  
}

.inner-sub-margin {
  margin: 0 1%;

  @include respond(tab-land) {
    margin: 0 2.5%;  
  }

  @include respond(nex-7) {
    margin: 0 6.5%  0 3.5%;    
  }
}

.gallery-margin {
  margin: 2% 0;
}

.copyright-margin {
  margin: 0 0.4%;
}

//* Color
.blue-bg {
  background-color: #0f4082;
}

.grey-bg {
  background-color: #5b5c5c; 
}

.orange-color {
  color: $color-orange; 
} 

//* Font Weight

.bold {
  font-weight: 600;
}