@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin position {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin header-height {
  height: 100vh;

  @include respond(tab-land) {
    height: 50vh;
  }

  @include respond(mic-l) {
    height: 100vh;
  }

  @include respond(nex-7) {
    height: 50vh;
  }
}
@mixin margin {
  margin: 0 20%;

  @include respond(tab-land) {
    margin: 0 10%;
  }

  @include respond(nex-9) {
    margin: 0 6%;
  }
}

@mixin margin-land {
  margin: 0 18%;

  @include respond(tab-land) {
    margin: 0 10%;
  }

  @include respond(mic-l) {
    margin: 0 6%;
  }
}

@mixin background-size($values) {
  -webkit-background-size: $values;
  -moz-background-size: $values;
  -ms-background-size: $values;
  -o-background-size: $values;
  background-size: $values;
}

@mixin background-repeat($values) {
  -webkit-background-repeat: $values;
  -moz-background-repeat: $values;
  -ms-background-repeat: $values;
  -o-background-repeat: $values;
  background-repeat: $values;
}

@mixin center-title {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

@mixin landing-line {
  background-color: $color-orange;
  border-radius: 4px;
  height: 4px;
  margin-top: 0.3%;
  width: 8%;

  @include respond(mic-l) {
    width: 100%;
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flex-column {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-row {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin space-btw {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@mixin justify-content($values) {
  -webkit-box-pack: $values;
  -moz-box-pack: $values;
  -ms-flex-pack: $values;
  -webkit-justify-content: $values;
  justify-content: $values;
}

@mixin align-items($values) {
  -webkit-box-align: $values;
  -moz-box-align: $values;
  -ms-flex-align: $values;
  -webkit-align-items: $values;
  align-items: $values;
}

@mixin align-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

@mixin align-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

@mixin flex-wrap($values) {
  -webkit-flex-wrap: $values;
  -ms-flex-wrap: $values;
  flex-wrap: $values;
}

@mixin dash-body {
  @include flexbox();
  @include flex-column;
}

@mixin header-button {
  @include flex(1 0 50%);
  border: none;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 600;
  height: 4.8rem;
  letter-spacing: 0.64px;
  outline: 0;

  @include respond(tab-land) {
    font-size: 2.2rem;
    height: 6.8rem;
  }

  @include respond(nex-7) {
    font-size: 2.4rem;
    height: 8.8rem;
  }
}

@mixin project-box {
  background-color: #f4f4f4;
  border: 0.75px solid rgba(3, 11, 55, 0.42);
  border-radius: 2px;
  font-size: 1.6rem;
  margin-top: 0.6%;
  outline: 0;
  padding: 1rem;
  width: 100%;

  @include respond(tab-land) {
    font-size: 3.4rem;
  }
}

@mixin school-margin {
  margin: 0 5.4%;
}

@mixin icon-size {
  height: 1.8rem;
  width: 1.8rem;

  @include respond(tab-land) {
    height: 2.8rem;
    width: 2.8rem;
  }

  @include respond(nex-7) {
    height: 3.8rem;
    width: 3.8rem;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 320px: Small Phone
320px - 375px: Medium Phone
375px - 384px: Nexus 4 Phone
384x - 411px: Pixel 2 Phone
411px - 414px: iphone 6/7/8 + Phone
414px - 425px: Large Phone
425px - 480px: Nexus 9 Phone
480px - 640px: Microsoft Lumia 500 Phone
640px - 768px: Tablet portrait mode
768px - 800px: Fire HXD
800px - 1024px: Tablet landscape
1024 - 1280px: Small Laptop
1280px - 1366px: Tablet Pro landscape
1366px - 1440px: Laptop
1400px - 2560px: Large latop
2560px+ : 4k Desktop

$breakpoint arguement choices:
- s-phone
- m-phone
- nex-4
- pix-2
- l-phone
- nex-9
- mic-l
- tab-port
- f-hxd
- tab-land
- s-laptop
- tab-pro-land
- laptop
- l-laptop
- 4k-desk

*ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == s-phone {
    @media (max-width: 20em) {
      @content;
    } // 320px in em
  }
  @if $breakpoint == m-phone {
    @media (max-width: 23.4375em) {
      @content;
    } // 375px in em
  }
  @if $breakpoint == nex-4 {
    @media (max-width: 24em) {
      @content;
    } // 384px in em
  }
  @if $breakpoint == pix-2 {
    @media (max-width: 25.6875em) {
      @content;
    } // 411px in em
  }
  @if $breakpoint == iphone-6-plus {
    @media (max-width: 25.875em) {
      @content;
    } // 414px in em
  }
  @if $breakpoint == l-phone {
    @media (max-width: 26.5625em) {
      @content;
    } // 425px in em
  }
  @if $breakpoint == nex-9 {
    @media (max-width: 30em) {
      @content;
    } // 480px in em
  }
  @if $breakpoint == nex-7 {
    @media (max-width: 37.5em) {
      @content;
    } // 600px in em
  }
  @if $breakpoint == mic-l {
    @media (max-width: 40em) {
      @content;
    } // 640px in em
  }
  @if $breakpoint == tab-port {
    @media (max-width: 48em) {
      @content;
    } // 768px in em
  }
  @if $breakpoint == f-hxd {
    @media (max-width: 50em) {
      @content;
    } // 800px in em
  }
  @if $breakpoint == tab-land {
    @media (max-width: 64em) {
      @content;
    } // 1024px in em //used
  }
  @if $breakpoint == s-laptop {
    @media (max-width: 80em) {
      @content;
    } // 1280px in em
  }
  @if $breakpoint == tab-pro-land {
    @media (max-width: 85.375em) {
      @content;
    } // 1366px in em
  }
  @if $breakpoint == laptop {
    @media (max-width: 90em) {
      @content;
    } // 1440px in em
  }
  @if $breakpoint == l-laptop {
    @media (max-width: 160em) {
      @content;
    } // 2560px in em
  }
  @if $breakpoint == 4k-desk {
    @media (min-width: 160em) {
      @content;
    } // 2560px in em
  }
}
