// COLORS
$color-blue: #488BE4;
$color-blue2: #006DFF;
$color-orange: #E4AE48;
$color-grey: #565656;
$color-grey-dark: #333;      
$color-black: #000;
$color-white: #fff;
$color-bg-dark: rgba(0, 0, 0, 0.6);  
$transparent: transparent;

// * Image
$image-height: 85vh;  
$image-height-land: 90vh;  
$s-laptop-height: 68vh; 
$tab-l-height: 45vh;
$mic-height:52vh;  
$mic-height-land:86vh;  
$l-phone-height: 30vh; 

//* Font Size
$default-font: 1.6rem;
$font-small: 1.4rem; 
$font-big: 1.8rem;  
$font-bigger: 3rem;  

//* Font Weight
$bold: 600;

//* Margin
$box-margin: 4%;
